html(ng-app="ccpm", lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    
        title CCPM

        // CSS
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-hQpvDQiCJaD2H465dQfA717v7lu5qHWtDbWNPvaTJ0ID5xnPUlVXnKzq7b8YUkbN", crossorigin="anonymous")
        link(href="/css/main.css", rel="stylesheet", type="text/css")

        // JavaScript
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js", type="text/javascript")
        script(src="/js/main.js", type="text/javascript")

    body(ng-controller="PackageController")

        nav(class="navbar navbar-default")
            div(class="container")
                div(class="navbar-brand")
                    a(href="/") CCPM

        div(class="container")

            div(class="input-group searchbar")
                input(type="text", class="form-control", placeholder="Search packages...", ng-model="searchText", ng-keydown="$event.which === 13 && search(searchText)", ng-init="searchText = '#{query}'")
                span(class="input-group-addon btn", ng-click="search(searchText)")
                    span(class="fa fa-search")
                
            center(ng-show="lastSearch", style="font-size: 20px;")
                span {{ list.length }} {{ list.length === 1 ? 'result' : 'results' }} for 
                    a(class="results", href="?q={{ lastSearch }}") '{{ lastSearch }}'

            hr(ng-show="list.length")

            div(class="package-container")

                center(class="wave-loader", ng-class="searching ? '' : 'hidden'")
                    div
                    div
                    div

                div(class="package", ng-repeat="pkg in list.slice((page - 1) * iPP, (page - 1) * iPP + iPP)")
                    h3 {{ pkg.name }}
                        small(class="owner", ng-click="search('~' + pkg.owner)", title="All Packages by {{ pkg.owner }}")  {{ pkg.owner }}

                    div(class="package-information", style="margin-left: 6px;")
                        div(class="description")
                            span {{ pkg.versions[pkg.latest].description }}

                        div(class="version", title="Latest Version: v{{ pkg.latest }}")
                            span(ng-show="pkg.latest") v{{ pkg.latest }}

                        div(class="tags", ng-show="pkg.versions[pkg.latest].keywords && pkg.versions[pkg.latest].keywords.length", style="margin-top: 0px;")
                            span(class="glyphicon glyphicon-tag")
                            span(style="margin-left: 6px; ") {{ pkg.versions[pkg.latest].keywords.join(', ') }}


            hr

            center
                ul(class="pager")
                    li(class="pull-left", ng-class="page <= 1 ? 'disabled' : ''")
                        a(ng-click="setPage(page - 1)") Previous

                    li(title="{{ list.length }} result{{ list.length !== 1 ? 's' : '' }} for '{{ searchText }}'")
                        span {{ page }} / {{ getPageAmount() }}

                    li(class="pull-right", ng-class="page === getPageAmount() ? 'disabled' : ''")
                        a(ng-click="setPage(page + 1)") Next
